button {
	width: 90% !important;
	height: 50px;
	margin: 4% 3%;
	font-size: 1.3em;
}

h1 {
	text-align: center;
	margin: 4% 0%;
}

h5 {
	text-align: center;
	margin: 5% 0%; 
}

h3 {
	margin-top: 7%;
	text-align: center;
}

footer {
	display: block;
	position: absolute;
	bottom: 5px;
	right: 5px;
	text-align: right;
	font-style: italic;
}