
button {
	width: 90% !important;
	height: 50px;
	margin: 4% 3%;
	font-size: 1.5em;
}

h1 {
	text-align: center;
	margin: 4% 0%;
}

h5 {
	text-align: center;
	margin: 5% 0%; 
}

h3 {
	margin: 5% 0%;
	text-align: center;
}

footer {
	display: block;
	position: fixed;
	bottom: 5px;
	right: 5px;
	text-align: right;
	font-style: italic;
}

@media screen and (max-width: 758px) and (orientation: landscape) {
	.col-md-4, .col-sm-4 {
		width: 32%;
	}

}